
<% @page_title = "管理ページトップ" %>
<h1><%= @page_title %></h1>

<p><%= link_to "ツアー管理", :admin_trips %></p>
<p><%= link_to "予約管理", :admin_reservations %></p>
<p><%= link_to "レビュー管理", :admin_reviews %></p>

