<% @page_title = "ツアー一覧" %>

<h1><%= @page_title %></h1>

<% if @reservations.present? %>
<table class="attr">
  <tr>
    <th>ツアー名</th>
    <th>ツアー内容</th>

  </tr>
  <% @reservations.each do |reservation| %>
  <% @trips.each do |trip| %>
  <% if reservation.detail.trip_id == trip.id %>
  <% @name = trip.tourname %>
  <% end %>
  <tr>
    <td><%= link_to @name, reservation %></td>
    <td><%= reservation.member.fullname %></td>
  </tr>
  <% end %>
  <% end %>
</table>
<% else %>
<p>ツアーがありません。</p>
<% end %>
