
*{
margin:0;
padding:0
}

img {
border:0
}

h1 {
font-size: 24px;
color:#69F;
padding-bottom:10px;
}

#tab-wrapper {
float: left;
width:500px;
margin: 0 auto;
text-align: left;
padding-top:30px;
padding-bottom: 40px;
}

#tab-a1 {
border-left: 1px solid black;
}

#tab li {
float: left;
width: 98px;
height: 30px;
border-right: 1px solid black;
border-top: 1px solid black;
list-style-type: none;
}

#tab li a {
display: block;
width: 94px;
height: 26px;
color: black;
background-color: #88b7d5;
text-align: center;
text-decoration:none;
font-size:15px;
padding:2px;
}

#tab li a:hover, #tab li.present a {
font-size:15px;
background-color: #E0FFFF;
color: black;
}

#news1, #news2, #news3, #news4, #news5{
clear:both;
border: 1px solid black;
padding:2px;
width: 490px;
height:260px;
font-size:15px;
color: black;
}

div#container {
  max-width: 800px;
  min-width: 800px;
  margin: 0 auto;
  padding: 5px 20px 5px;
}

div#header {
  width: auto;
  height: auto;
  overflow: hidden;
  padding: 0px 0px;
  background-color: #cee;
}

div#header div#title {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

div#header div#menu{
  padding-top: 10px;
  float: right;
  width: 150px;
  height: 5px;
 padding: 0px 0px;
}

div#menu{
  padding-top: 0px;
  float: right;
  width: auto;
  height: auto;
}
div#content {
  float: left;
  width: auto;
  height: auto;
  padding: 0px 10px 20px 20px;

}

div#sidebar {
  float: right;
  width: 220px;
  height:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #88b7d5;
}

div#footer {
  clear:both;
  border-top: 1px solid #000000;
  text-align: right;
}

/*ここから下を編集*/
/*サイドバー*/
.side{
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 200px;
}

li.side{ display: inline; }

.side{
  text-align: center;
  text-decoration: none;
  background-color: #E0FFFF; 
  width: 100%;
  display: block;
  padding: 0, 0;  
  color: black; 
  border-bottom: 3px solid silver;
}

.side :hover{
  background-color: #FFFaF0;  
  color: black; 
}
/*ヘッダー*/
p.member {  
  text-align: right;  
  padding: 0.5em 0;  
  width: 100%;
  color: black;  
}  
  
p.member :hover{  
  background-color: #FFFaF0;  
  color: black;  
}  
/*メニューバー*/
div.menu {  
 text-align: left;  
  display:block;  
  padding: 0px, 0px;  
  width: 100%;  
  background-color: #88b7d5;  
  color: black;  
}  
  
div.menu :hover{  
  background-color: #FFFaF0;  
  color: black;  
}  

/*テーブル*/
table.attr {
    width: 500px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 1px 1px;
    font-size: 15px;
}


div#content table.attr th {
  text-align: right;
  background-color: #499;
  padding: 10px;

}

div#content table.attr td {
  box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset;
  border-radius: 5px 5px 10px 10px;
  background-color: #cee;
  padding: 4px;
}

div#content table.attr th {
    box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset;
    border-radius: 5px 5px 10px 10px;
    background: #88b7d5;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    height: 5px;
    position: relative;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 12px;
}

.treemenu {
	float: left;
	width: 256px;
}
/*階層1*/
.treemenu .lv1btn{
	cursor: pointer;
	padding: 5px 10px;
}
.treemenu .lv1body {
	display: none;
	padding: 0 10px 5px 10px;
}
.treemenu .lv1body a {
	line-height: 2.0;
}
/*階層2*/
.treemenu .lv1body .lv2btn {
	cursor: pointer;
	padding: 5px 10px 5px 0;
}
.treemenu .lv1body .lv2body {
	display: none;
	padding: 0 10px 5px 10px;
}
.treemenu .lv1body .lv2body a {
	line-height: 2.0;
}
/*階層3*/
.treemenu .lv1body .lv3btn {
	cursor: pointer;
	padding: 5px 10px 5px 0;
}
.treemenu .lv1body .lv2body .lv3body {
	display: none;
	padding: 0 10px 5px 10px;
}
.treemenu .lv1body .lv2body .lv3body a {
	line-height: 2.0;
}
