<table class="attr">
  <tr>
    <th>ツアー名</th>
    <td><%= @tour.tourname %></td>
  </tr>
  <tr>
    <th>ツアー内容</th>
    <td><%= @tour.tourcontent %></td>
  </tr>
  <tr>
    <th>カテゴリー</th>
    <td><%= @tour.category %></td>
  </tr>
  <tr>
    <th>サブカテゴリー</th>
    <td><%= @tour.subcategory %></td>
  </tr>
</table>
